// Colors
$primary:             #63d1bb;
$secondary:           #ececec;

$black-primary:       #171919;
$black-secondary:     #1C2121;
$black-tertiary:      #0F1010;

$yellow:              #fce473;
$pink:                #c71585;
$green:               #4AF6CD;
$blue:                #1d90ff;
$white:               #ffffff;
$black:               #000000;

// Fonts
$serif:               "Lora", Georgia, serif;
$sans-serif:          "Fira Sans", Arial, sans-serif;

$baseSize: 10px;

// Distance
$tablet-width:         768px;
$desktop-width:        1150px;
$mobile-width-only:    767px;